<!--<div class="filter-bar">
    <div class="max-content">
        <div class="filters-wrap clearfix">
            <div class="filters-web-wrap">-->
                <div class="available-wrap clearfix">
                    <label for="">AVAILABLE FOR</label>
                 <!--   <dropdown model="model.availableDropdown" class="available-dropdown"></dropdown>-->
                </div>
               <!-- <div class="sort-wrap clearfix">
                    <label for="">SORT BY</label>
                    <div class="dropdown-wrap sort-dropdown clearfix">
                        <dropdown model="model.sortByDropdown" class="sort-trigger pull-left"></dropdown>
                        <div class="sort-caret caret-up">
                            <div class="caret-up active"><i class="fa fa-caret-up"></i></div>
                            <div class="caret-down"><i class="fa fa-caret-down"></i></div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="filters-touch-wrap">
                <div class="available-wrap">
                    <div class="select-wrap">
                        <select name="" id="" class="filter-dropdown">
                            <option value="">Delivery</option>
                            <option value="">Dine in</option>
                            <option value="">Pickup</option>
                        </select>
                    </div>
                </div>
               <!-- <div class="sort-wrap">
                    <div class="select-wrap">
                        <select name="" id="" class="filter-dropdown">
                            <option value="">Discount</option>
                            <option value="">Delivery time</option>
                            <option value="">Distance</option>
                            <option value="">Minimum order</option>
                            <option value="">Average pricing</option>
                            <option value="">Rating</option>
                            <option value="">Restaurant name</option>
                        </select>
                    </div>
                    <div class="sort-caret caret-up">
                        <div class="caret-up active"><i class="fa fa-caret-up"></i></div>
                        <div class="caret-down"><i class="fa fa-caret-down"></i></div>
                    </div>
                </div>-->
            </div>
<!--            <div class="search-wrap clearfix">
                <label for="">SEARCH BY AREA</label>
                <div class="search-bar">
                    <input type="text" class="form-control" placeholder="Type your locality/Address">
                    <i class="fa fa-map-marker"></i>
                </div>
     <!--       </div>&ndash;&gt;
        </div>
    </div>
</div>-->